.booking-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 100px 0px;
}

@media screen and (max-width: 768px) {
    .booking-page {
        margin-top: 100px;
    }
    
}