/* Navbar Styling */
.navbar {
  background-color: #222529; /* Green color */
  padding: 0px !important;
}

.navbar-brand {
  font-size: 1.5rem;
  font-family: 'Markazi Text', serif;
  color: #F4CE14; /* Yellow color */
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.navbar-brand:hover {
  color: #fff;
}

.navbar-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem; /* Adjust the gap between items */
  flex-grow: 1;
}

.nav-item {
  list-style: none;
}

.nav-link {
  font-size: 1.2rem;
  padding: 10px 15px;
  color: white; /* Button text color */
  border-radius: 5px; /* Rounded button */
  transition: all 0.3s ease;
  text-decoration: none;
}

.nav-link:hover,
.nav-link.active {
  background-color: #F4CE14; /* Yellow background */
  color: black; /* Black text */
}

/* Adjust Logo Size */
.navbar-brand img {
  height: 40px; /* Adjust logo size */
  width: auto;
}

/* Mobile Navbar Styling */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }

  .nav-item {
    margin: 10px 0;
  }
}
