/* src/App.css */

/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  color: #333;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
}

/* Navbar Styling */
nav {
  background-color: #ff6600;
  padding: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  margin: 0 1rem;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

/* Call-to-Action Styling */
.call-to-action {
  font-size: 2rem;
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

button {
  background-color: #ff6600;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Hero Section (Call-to-Action) */
.call-to-action {
  text-align: center;
  background-color: #ff6600;
  padding: 50px;
  border-radius: 8px;
}

.call-to-action h1 {
  font-size: 2.5rem;
  color: white;
}

.call-to-action button {
  background-color: white;
  color: #ff6600;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Utility class for padding */
.padding-container {
  padding-left: 70px;
  padding-right: 70px;
}

/* Main content area */
.main-content {
  flex: 1;
}

/* Footer Styling */
footer {
  background-color: #495e57;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;}

/* Mobile responsiveness */
@media (max-width: 768px) {
  /* Navbar */
  nav {
    padding: 1rem;
  }

  ul {
    display: block; /* Stack the navbar items vertically */
    text-align: center;
  }

  li {
    margin: 1rem 0; /* Space out the items vertically */
  }

  .call-to-action {
    font-size: 1.5rem; /* Reduce the font size for mobile screens */
    padding: 30px;
  }

  .call-to-action h1 {
    font-size: 2rem;
  }

  .call-to-action button {
    padding: 8px 15px;
  }

  /* Adjust Button for Small Screens */
  button {
    padding: 8px 15px;
    font-size: 1rem;
  }

  /* Images */
  img {
    border-radius: 8px;
  }

  logo-img {
    height: 30px;
  }

  /* Adjust Text Sizes */
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 0.9rem;
  }

  .padding-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 480px) {
  /* Further adjustment for very small screens */
  .call-to-action {
    padding: 20px;
  }

  .call-to-action h1 {
    font-size: 1.5rem;
  }

  .call-to-action button {
    padding: 8px 12px;
  }

  button {
    font-size: 1rem;
  }
}
