/* src/App.css */

/* General Styling */
html, body {
  height: 100vh;  /* Ensures the body takes full height of the viewport */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;  /* Stack elements vertically */
}

body {
  font-family: Arial, sans-serif;
  flex-grow: 1; /* Ensures body fills the available space */
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  color: #333;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  margin: 0 1rem;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

button {
  background-color: #ff6600;
  color: white;
  width: auto;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.main-content > div > section {
  margin-bottom: 20px;
}

.call-to-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  background-color: #4a5f57;
  padding: 0px;
  border-radius: 8px;
  border: #6b6b6b 0.5px solid;
  flex-wrap: wrap; 
}

.cta-text-group {
  flex: 1; /* Take up half the space */
  padding: 20px 30px; /* Space between text and image */
}

.cta-text h1 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

.cta-text p {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

.cta-text button {
  background-color: #eecf33;
  color: #000;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cta-text button:hover {
  background-color: #d6b301;
}


.cta-image {
  flex: 1; 
  text-align: center; 
  padding: 0px;
}

.cta-image img {
  width: 100%; 
  max-height: 50vh; 
  max-width: 100%; 
  object-fit: cover; 
  border-radius: 0px 8px 8px 0px;
}

.padding-container {
  padding-left: 70px;
  padding-right: 70px;
}

.main-content {
  flex-grow: 1;
  padding: 0.5rem 4rem;
}


footer {
  text-align: center;
  padding: 20px;
  margin-top: auto; 
  width: 100%;
  position: absolute;
}

footer p {
  color: #fff;
}

@media (max-width: 768px) {
  .call-to-action {
    flex-direction: column; 
    text-align: center; 
    padding: 30px; 
  }

  .cta-text-group {
    padding: 20px 0;
  }

  .cta-image img {
    max-width: 100%;
    padding: 0px;
  }

  button {
    padding: 8px 15px;
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 0.9rem;
  }

  .footer {
    text-align: left !important;
  }
}

@media (max-width: 480px) {
  .main-content {
    flex-grow: 1;
    padding: 0.5rem 1rem;
  }

  .call-to-action h1 {
    font-size: 1.5rem;
  }

  .call-to-action button {
    padding: 8px 12px;
  }

  button {
    font-size: 1rem;
  }

  .footer {
    text-align: left !important;
  }
}
