/* Custom styles for the site */

/* Hero Section */
.hero-section {
    background-color: #495e57;
    padding: 60px 20px;
    text-align: center;
  }
  
  .hero-section h2 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-section p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .hero-section button {
    background-color: #F4CE14;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .hero-section button:hover {
    background-color: #EE9972;
  }
  
  /* Specials Section */
  .specials-section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .specials-section h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .specials-section .col-md-4 {
    margin-bottom: 20px;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    font-size: 14px;
  }
  